.wpmozo-quvili-icon-wrap{
	display: inline-block;
}
.wpmozo-quvili-icon{
	width: 80px;
    margin: 0px 20px;
    vertical-align: middle;
}
.wpmozo-product-carousel-wrap a{
	pointer-events: none;
}
.wpmozo-product-carousel-wrap ul li a.button{
	white-space: inherit;
}
.wpmozo-typography-panel .components-tools-panel{
	padding: 10px 0px;
}
.wpmozo-typography-panel .single-column .components-input-control__container{
	width: 100%;
}
.wpmozo-typography-panel .single-column{
    grid-column: span 1;
}
.wpmozo-typography-panel .components-font-size-picker__controls{
	margin-bottom: 0px;
}
.wpmozo-product-carousel-nofound-wrap{
	padding: 10px 0px;
}
.wpmozo-icon-picker{
	position: relative;
	margin-bottom: 24px;
}
.wpmozo-icon-picker > div{
	width: 85%;
}
.wpmozo-icon-picker .wpmozo-icon-wraper{
	width: 15%;
    position: absolute;
    top: 23px;
    right: 0;
    border: solid 1px;
    border-radius: 2px;
    padding: 9px;
    text-align: center;
    font-size: 18px;
}
.wpmozo-color-dropdown-container{
	width: 100%;
}
.wpmozo-color-dropdown-container .components-button{
	width: 100%;
    border: 1px solid rgb(0 0 0 / 57%);
}
.wpmozo-color-dropdown-container .components-button .component-color-indicator{
	margin-right: 8px;
}