.wpmozo-product-carousel-wrap {
	width: 100%;
	height: 100%;
}
.wpmozo-product-carousel-wrap.loading .swiper-pagination, 
.wpmozo-product-carousel-wrap.loading .swiper-navigation{
	display: none !important;
}
.wpmozo-product-carousel-wrap ul.products{
	margin-bottom: 30px !important;
}
.wpmozo-product-carousel-wrap.woocommerce ul.products {
    padding-inline-start: unset !important;
    display: flex !important;
    align-items: unset !important;
    flex-direction: unset !important;
    flex-wrap: unset !important;
    justify-content: unset !important;
}
.wpmozo-product-carousel-wrap.woocommerce ul.products li {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.wpmozo-product-carousel-wrap .woocommerce-loop-product__link{
	width: 100%;
}
.wpmozo-product-carousel-wrap .attachment-woocommerce_thumbnail{
	width: 100%;
}

/* Quick view style start  */
.wpmozo-product__overlay {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.15s ease-in;
}
.wpmozo-product-carousel-wrap li.product:hover .wpmozo-product__overlay,
.wpmozo-product-carousel-wrap li.product:focus .wpmozo-product__overlay {
	visibility: visible;
	opacity: 1;
}
.wpmozo-quick-view-button {
  	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	border: none;
	cursor: pointer;
	margin: 0px !important;
}
.wpmozo-quick-view-button.has-icon:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-size: cover;
	background-image: inherit;
	vertical-align: middle;
}
.wpmozo-quick-view-button.has-text:before{
	margin-right: 5px;
}
.wpmozo-product-carousel-wrap li.product:hover .wpmozo-quick-view-button {
	-ms-transform: translateY(-85%);
	-webkit-transform: translateY(-85%);
	transform: translateY(-85%);
}
.wpmozo-product-quick-view{
	position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    max-width: 900px;
    box-sizing: border-box;
    background: #fff;
}
.wpmozo-product-quick-view > div.product {
	display: inline-block;
	position: relative;
}
.wpmozo-quick-view-image-wrap{
	float: left;
    width: 48%;
}
.wpmozo-product-quick-view .mfp-close{
	background: #000;
}
/* Quick view style over  */

.soldout-text{
	padding: 5px 12px;
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
}

/* Layout 1 style start  */
.wpmozo-product-bottom{
	width: 100%;
	margin-top: 1rem;
}
.wpmozo-product-bottom-add-to-cart a.button{
	margin-top: 0px !important;
}
/* Layout 1 style over */

/* Layout 2 style start  */
.wpmozo-product-carousel-wrap.layout-2 .wpmozo-layout-wraper{
	width: 100%;
	display: block;
	margin-bottom: 12px;
}
.wpmozo-product-carousel-wrap.layout-2 ul.products li.product a.button{
	display: block;
	margin-top: 0px !important;
	text-align: center !important;
	margin-bottom: 0px !important;
}
.wpmozo-product-carousel-wrap.layout-2 .woocommerce-loop-product__link, 
.wpmozo-product-carousel-wrap.layout-2 .woocommerce-loop-product__link img{
	margin-bottom: 0px !important;
}
.wpmozo-product-carousel-wrap.layout-2 .onsale{
	position: absolute !important;
	left: 10px !important;
    right: auto !important;
    top: 10px !important;
}
.wpmozo-product-carousel-wrap.layout-2 .wpmozo-quick-view-button{
	position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    left: auto !important;
    transform: unset !important;
}
.wpmozo-product-carousel-wrap.layout-2 .woocommerce-loop-product__link img{
	display: block !important;
}
@supports (-moz-appearance:none) {
	.wpmozo-product-carousel-wrap.layout-2 ul.products li.product a.button{
		max-width: -moz-available;
	}
}
/* Layout 2 style over */

.ph-item{
	min-height: inherit;
}
.ph-item:last-child{
	margin-right: 0px;
}
.wpmozo-loader.frontend{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: grid;
    grid-auto-flow: column;
    background: #fff;
}

@media (min-width: 767px) {
	.wpmozo-loader.backend{
		min-height: 400px;
	}
	.wpmozo-product-bottom{
		display: flex;
	    align-items: center;
	}
	.wpmozo-product-bottom-price {
	    width: 50%;
	}
	.wpmozo-product-bottom-add-to-cart {
	    width: 50%;
	}
}
@media (max-width: 767px) {
	.wpmozo-product-bottom-price {
		display: block;
	    margin-bottom: 10px;
	}
	.wpmozo-product-bottom-add-to-cart{
		display: block;
	}
}
@media (max-width: 1024px) {
	.wpmozo-product__overlay{
		position: unset !important;
	    width: auto;
	    height: auto;
	    visibility: visible;
    	opacity: 1;
	}
	.wpmozo-quick-view-button{
		position: unset !important;
   		transform: unset !important;
	}
}

