.wpmozo-product-carousel-wrap{
	padding-top: 20px;
	padding-bottom: 20px;
}
.wpmozo-quvili-icon-wrap{
	display: inline-block;
}
.wpmozo-quvili-icon{
	width: 80px;
    margin: 0px 20px;
    vertical-align: middle;
}

.wpmozo-product-carousel-wrap a{
	pointer-events: none;
}