.wpmozo-product-carousel-wrap{
	padding-top: 20px;
	padding-bottom: 20px;
}
.wpmozo-quvili-icon-wrap{
	display: inline-block;
}
.wpmozo-quvili-icon{
	width: 80px;
    margin: 0px 20px;
    vertical-align: middle;
}
.wpmozo-product-carousel-wrap a{
	pointer-events: none;
}
.wpmozo-typography-panel .components-tools-panel{
	padding: 10px 0px;
}
.wpmozo-typography-panel .single-column .components-input-control__container{
	width: 100%;
}
.wpmozo-typography-panel .single-column{
    grid-column: span 1;
}
.wpmozo-typography-panel .components-font-size-picker__controls{
	margin-bottom: 0px;
}
.wpmozo-product-carousel-nofound-wrap{
	padding: 10px 0px;
}